h1,
h2,
h3 {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: lighter;
  margin-bottom: 0;
}

p {
  line-height: 1.5rem;
}

small {
  color: #ec5242;
}

body {
  width: 100vw;
  margin: 0;
  background: #ddd;
  font-family: "Lato", sans-serif;
  color: #272a31;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  header {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    height: 80px;
    padding: 0 8%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  }
}

#burger {
  padding: 1rem;
}
#burger span {
  display: block;
  margin: 5px;
  height: 6px;
  width: 30px;
  background: #333;
  border-radius: 1px;
  box-shadow: 0 0 2px #fff;
}
@media screen and (min-width: 768px) {
  #burger {
    display: none;
  }
}

#navLogo {
  display: none;
  height: 80%;
}
#navLogo img {
  height: 80%;
}
@media screen and (min-width: 768px) {
  #navLogo {
    display: block;
  }
}

#navDesktop {
  display: none;
  list-style: none;
  gap: 50px;
  align-items: baseline;
}
#navDesktop a {
  text-decoration: none;
  color: #272a31;
}
@media screen and (min-width: 768px) {
  #navDesktop {
    display: flex;
  }
}

.aboutLink {
  color: #ec5242;
}

.preview {
  padding: 5px;
  color: #ec5242;
}
@media screen and (min-width: 768px) {
  .preview {
    border: solid #ec5242 4px;
  }
}

#navList {
  position: fixed;
  margin: 0;
  top: 0;
  left: -100%;
  width: 75%;
  height: 100%;
  background: #272a31ee;
  padding: 15px;
  list-style: none;
  line-height: 2.5rem;
}
#navList a {
  color: #f5f5f5;
  text-decoration: none;
}
#navList li {
  border-bottom: solid #555 1px;
}

#closeMenu {
  text-align: right;
}

#main {
  min-height: 100vh;
  padding: 0 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
  background-image: url("../img/mobileBg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  #main {
    background-image: url("../img/mainBg.png");
  }
}

h1 {
  color: transparent;
  -webkit-background-clip: text;
  background-image: url("../img/mainTxt.jpg");
}

#landImg {
  width: 90%;
}
@media screen and (min-width: 768px) {
  #landImg {
    width: 60%;
  }
}

#landLogo {
  width: 100%;
  -webkit-mask-image: url("../img/logo.png");
  mask-image: url("../img/logo.png");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.box {
  margin: 30px 0;
  padding: 0 5%;
  font-weight: 500;
  line-height: 2rem;
  border: #fff solid 3px;
  background: #f5f5f5;
}
@media screen and (min-width: 768px) {
  .box {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  #mainTxt {
    width: 70%;
  }
}

hr {
  border: none;
  width: 50px;
  border-top: solid #ec5242 1px;
  margin-bottom: 30px;
}

#courses {
  padding: 50px 3% 30px;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272a31;
  background-image: url("../img/pattBg.png");
  background-repeat: repeat;
}

#courseList {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  #courseList {
    flex-direction: row;
    justify-content: space-around;
  }
}

.courseBox {
  background: #c1c1c120;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  color: #f5f5f5;
}
.courseBox h3 {
  color: #ec5242;
}
@media screen and (min-width: 768px) {
  .courseBox {
    flex-direction: column;
    padding: 15px 10px 0;
    width: 250px;
    height: 350px;
  }
  .courseBox p {
    flex: 1;
    display: flex;
    align-items: center;
  }
}

#join {
  margin-top: 30px;
  width: 75%;
  background-color: #ec5242;
  color: #f5f5f5;
  border: none;
  font-size: 18px;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  #join {
    width: inherit;
    background-color: #fff0;
    text-decoration: underline;
  }
}

#speakers {
  padding: 30px 3% 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
#speakers h2 {
  text-align: center;
}

#authors {
  display: flex;
}
@media screen and (min-width: 768px) {
  #authors {
    flex-wrap: wrap;
  }
}

.card {
  width: 100%;
  display: flex;
  gap: 5px;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .card {
    width: 50%;
  }
}

.cardPicture {
  padding-top: 20px;
  flex-shrink: 0;
  width: 33%;
}
.cardPicture img {
  width: 100%;
}

#partner {
  padding: 50px 3%;
  background: #272a31;
  color: #aaa;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#partnerList {
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
@media screen and (min-width: 768px) {
  #partnerList {
    flex-direction: row;
  }
}
#partnerList a {
  text-decoration: none;
}
#partnerList img {
  filter: grayscale(100%);
  width: 100%;
}

footer {
  padding: 25px 3% 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footLogo {
  width: 80px;
}
#footLogo img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
