@import 'vars.scss';

#about {
  min-height: 100vh;
  padding: 50px 3% 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $lightC;
  background-image: url('../img/mobileBg.png');
  background-size: contain;
  background-repeat: no-repeat;

  @include desktop() {
    background-image: url('../img/mainBg.png');
    padding: 60px 10% 0;
    align-items: center;
  }
}

.box2 {
  margin: 30px 0;
  padding: 0 5%;
  font-weight: 500;
  line-height: 2rem;
  border: #eee solid 1px;
  background: #fff;
}

.aboutfoot {
  background: $darkC;

  p {
    color: $lightC;
  }

  img {
    filter: invert(100%);
  }
}

#aboutLogo {
  padding: 30px 3% 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid #ccc 1px;

  p {
    text-align: center;
    margin-bottom: 100px;
  }

  a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
  }

  img {
    padding: 25px;
    border: solid #ccc 1px;

    &:hover {
      transform: scale(1.2);
      transition: 0.2s;
    }

    @include desktop() {
      width: 50%;
    }
  }
}

#aboutTxt {
  a {
    color: $darkC;
    font-weight: bold;
  }
}

#past {
  padding: 30px 3% 80px;

  h2 {
    text-align: center;
  }
}

#pastCourse {
  display: flex;
  flex-direction: column;
  gap: 5px;

  @include desktop() {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
}

.pastCourse {
  width: 93vw;
  height: 50vw;

  @include desktop() {
    width: 40vw;
    height: 20vw;
  }
}

.course1 {
  width: 100%;
  height: 100%;
  background-image: url('../img/thumbnail1.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $lightC;

  &:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }
}

.course2 {
  width: 100%;
  height: 100%;
  background-image: url('../img/thumbnail2.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $lightC;

  &:hover {
    transform: scale(1.2);
    transition: 0.2s;
  }
}
