// Variables

$gray: #333;

$lightC: #f5f5f5;

$orangeC: #ec5242;

$darkC: #272a31;

$lightGray: #d3d3d3;

h1,
h2,
h3 {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: lighter;
}

p {
  line-height: 1.5rem;
}

body {
  width: 100vw;
  margin: 0;
  background: #ddd;
  font-family: 'Lato', sans-serif;
  color: $darkC;

  * {
    padding: 0 3%;
  }
}

header {
  position: fixed;
  top: 0;
}

#burger {
  padding: 1rem;

  span {
    display: block;
    margin: 5px;
    height: 6px;
    width: 30px;
    background: $gray;
    border-radius: 1px;
  }
}

#main {
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $lightC;
  background-image: url('../img/mobileBg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

h1 {
  color: transparent;
  -webkit-background-clip: text;
  background-image: url('../img/mainTxt.jpg');
}

#landImg {
  width: 80%;
}

#landLogo {
  width: 100%;
  -webkit-mask-image: url('../img/logo.png');
  mask-image: url('../img/logo.png');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.box {
  margin: 30px 0;
  font-weight: 500;
  line-height: 2rem;
  border: #fff solid 3px;
  background: $lightC;
}
