@import 'vars.scss';

h1,
h2,
h3 {
  font-family: 'COCOGOOSE', sans-serif;
  font-weight: lighter;
  margin-bottom: 0;
}

p {
  line-height: 1.5rem;
}

small {
  color: $orangeC;
}

.card {
  width: 100%;
  display: flex;
  gap: 5px;
  font-size: 12px;

  @include desktop() {
    width: 48%;
  }
}

.cardPicture {
  padding-top: 20px;
  flex-shrink: 0;
  width: 33%;

  img {
    width: 100%;
  }
}

body {
  width: 100vw;
  margin: 0;
  background: #ddd;
  font-family: 'Lato', sans-serif;
  color: $darkC;
}

header {
  position: fixed;
  top: 0;
  width: 100%;

  @include desktop() {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $lightC;
    height: 80px;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
}

#burger {
  padding: 1rem;

  span {
    display: block;
    margin: 5px;
    height: 6px;
    width: 30px;
    background: $gray;
    border-radius: 1px;
    box-shadow: 0 0 2px #fff;
  }

  @include desktop() {
    display: none;
  }
}

#navLogo {
  display: none;
  height: 80%;

  img {
    height: 80%;
  }

  @include desktop() {
    display: block;
  }
}

.navList {
  position: fixed;
  margin: 0;
  top: 0;
  left: -100%;
  width: 75%;
  height: 100%;
  background: #272a31ee;
  padding: 15px;
  list-style: none;
  line-height: 2.5rem;
  transition: 0.5s;
  transition-timing-function: cubic-bezier(0.69, 0.22, 0.24, 0.88);

  a {
    color: $lightC;
    text-decoration: none;
  }

  li {
    border-bottom: solid #555 1px;
  }
}

#navDesktop {
  display: none;
  list-style: none;
  gap: 50px;
  align-items: baseline;

  a {
    text-decoration: none;
    color: $darkC;
  }

  @include desktop() {
    display: flex;
  }

  .aboutLink {
    color: $orangeC;
  }

  .preview {
    padding: 5px;
    color: $orangeC;

    @include desktop() {
      border: solid $orangeC 4px;
    }
  }
}

.navShow {
  left: 0%;
}

#closeMenu {
  text-align: right;
}

#main {
  min-height: 100vh;
  padding: 0 3%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $lightC;
  background-image: url('../img/mobileBg.png');
  background-size: contain;
  background-repeat: no-repeat;

  @include desktop() {
    padding: 0 10%;
    background-image: url('../img/mainBg.png');
  }
}

h1 {
  color: transparent;
  -webkit-background-clip: text;
  background-image: url('../img/mainTxt.jpg');
}

#landImg {
  width: 90%;

  @include desktop() {
    width: 60%;
  }
}

#landLogo {
  width: 100%;
  -webkit-mask-image: url('../img/logo.png');
  mask-image: url('../img/logo.png');
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.box {
  margin: 30px 0;
  padding: 0 5%;
  font-weight: 500;
  line-height: 2rem;
  border: #fff solid 3px;
  background: $lightC;

  @include desktop() {
    width: 60%;
  }
}

#mainTxt {
  @include desktop() {
    width: 70%;
  }
}

hr {
  border: none;
  width: 50px;
  border-top: solid $orangeC 1px;
  margin-bottom: 30px;
}

#courses {
  padding: 50px 3% 30px;
  color: $lightC;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $darkC;
  background-image: url('../img/pattBg.png');
  background-repeat: repeat;

  @include desktop() {
    padding: 50px 10% 30px;
  }
}

#courseList {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  @include desktop() {
    flex-direction: row;
    justify-content: space-between;
  }
}

.courseBox {
  background: #c1c1c120;
  box-sizing: border-box;
  width: 100%;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-align: center;
  color: $lightC;

  h3 {
    color: $orangeC;
  }

  @include desktop() {
    flex-direction: column;
    padding: 15px 10px 0;
    width: 250px;
    height: 350px;

    p {
      flex: 1;
      display: flex;
      align-items: center;
    }
  }
}

#join {
  margin-top: 30px;
  width: 75%;
  background-color: $orangeC;
  color: $lightC;
  border: none;
  font-size: 18px;
  padding: 2rem;

  @include desktop() {
    width: inherit;
    background-color: #fff0;
    text-decoration: underline;
  }
}

#speakers {
  padding: 30px 3% 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  h2 {
    text-align: center;
  }

  @include desktop() {
    padding: 30px 10% 80px;
  }
}

#authors {
  display: flex;
  flex-direction: column;

  @include desktop() {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
  }
}

#partner {
  padding: 50px 3%;
  background: $darkC;
  color: #aaa;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include desktop() {
    padding: 50px 10%;
  };
}

#partnerList {
  padding: 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  @include desktop() {
    flex-direction: row;
  }

  a {
    text-decoration: none;
  }

  img {
    filter: grayscale(100%);
    width: 100%;
  }
}

footer {
  padding: 25px 3% 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footLogo {
  width: 80px;

  img {
    width: 100%;
  }
}
